Playground.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Playground.xcodeproj/xcuserdata/kostazz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Playground.xcodeproj/xcuserdata/kostazz.xcuserdatad/xcschemes/Playground.xcscheme
Playground.xcodeproj/xcuserdata/kostazz.xcuserdatad/xcschemes/xcschememanagement.plist
